body {
    background-color: rgba(253, 255, 135, 0.539);
    font-family: 'Lato', sans-serif;
    h2 {
        font-size: 35px;
        text-align: center;
        color: rgb(56, 20, 20);
    }
    p {
        font-size: 24px;
        font-weight: bold;
        color: rgb(58, 58, 20);
        text-align: center;
    }
    img{
        max-height: 300px;
        width: 100%;
overflow: hidden;
    }
}
.container{
    max-width: 1200px;
    margin: 0 100px;
}
#buttons{
    display: flex;
    justify-content: center;
}
button {
    width: 100px;
    height: 50px;
    margin-left: 15px;
    margin-top: 30px;
    cursor: pointer;
    background-color: chocolate;
    color: aliceblue;
    border: none;
    text-transform: uppercase;
    transition: 1s;
    &:hover{
        background-color: coral;
    }
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
